<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.spring.ion.jjh.dto.entrust.EntrustDTO" alias="entrust"></typeAlias>
        <typeAlias type="com.spring.ion.jjh.dto.entrust.EntrustCommentDTO" alias="entrustComment"></typeAlias>
        <typeAlias type="com.spring.ion.jjh.dto.entrust.EntrustFileDTO" alias="entrustFile"></typeAlias>
        <typeAlias type="com.spring.ion.jjh.dto.entrust.EntrustLikeDTO" alias="entrustLike"></typeAlias>
        <typeAlias type="com.spring.ion.jjh.dto.free.FreeDTO" alias="free"></typeAlias>
        <typeAlias type="com.spring.ion.jjh.dto.free.FreeCommentDTO" alias="freeComment"></typeAlias>
        <typeAlias type="com.spring.ion.jjh.dto.free.FreeFileDTO" alias="freeFile"></typeAlias>
        <typeAlias type="com.spring.ion.jjh.dto.free.FreeLikeDTO" alias="freeLike"></typeAlias>
        <typeAlias type="com.spring.ion.jjh.dto.miss.MissDTO" alias="miss"></typeAlias>
        <typeAlias type="com.spring.ion.jjh.dto.miss.MissCommentDTO" alias="missComment"></typeAlias>
        <typeAlias type="com.spring.ion.jjh.dto.miss.MissFileDTO" alias="missFile"></typeAlias>
        <typeAlias type="com.spring.ion.jjh.dto.miss.MissLikeDTO" alias="missLike"></typeAlias>

        <typeAlias type="com.spring.ion.psw.dto.Info_contentDTO" alias="infoContent"></typeAlias>
        <typeAlias type="com.spring.ion.psw.dto.Info_commentDTO" alias="infoComment"></typeAlias>
        <typeAlias type="com.spring.ion.psw.dto.Info_FileDTO" alias="infoFile"></typeAlias>
        <typeAlias type="com.spring.ion.psw.dto.Info_LikeDTO" alias="infoLike"></typeAlias>

        <typeAlias type="com.spring.ion.yjw.dto.FlagPostDTO" alias="FlagPost"></typeAlias>
        <typeAlias type="com.spring.ion.yjw.dto.FlagPageDTO" alias="FlagPage"></typeAlias>
        <typeAlias type="com.spring.ion.yjw.dto.FlagCommentDTO" alias="FlagComment"></typeAlias>
        <typeAlias type="com.spring.ion.yjw.dto.FlagFileDTO" alias="FlagFile"></typeAlias>
        <typeAlias type="com.spring.ion.yjw.dto.FlagLikeDTO" alias="FlagLike"></typeAlias>
        <typeAlias type="com.spring.ion.yjw.dto.TrustScoreDTO" alias="trust"></typeAlias>
        <typeAlias type="com.spring.ion.yjw.dto.ReportDTO" alias="Report"></typeAlias>
        <typeAlias type="com.spring.ion.yjw.dto.StudentCertDTO" alias="StudentCert"></typeAlias>



        <typeAlias type="com.spring.ion.lcw.dto.MemberDTO" alias="member"></typeAlias>
        <typeAlias type="com.spring.ion.lcw.dto.MessageDTO" alias="message"></typeAlias>
        <typeAlias type="com.spring.ion.lcw.dto.ChatRoomDTO" alias="chatRoom"></typeAlias>

        <typeAlias type="com.spring.ion.psw.dto.NotifyDTO" alias="notify"></typeAlias>

    </typeAliases>

    <mappers>
        <mapper resource="mapper/jjh/freeMapper.xml"/>
        <mapper resource="mapper/jjh/freeCommentMapper.xml"/>
        <mapper resource="mapper/jjh/freeLikeMapper.xml"/>
        <mapper resource="mapper/jjh/entrustMapper.xml"/>
        <mapper resource="mapper/jjh/entrustCommentMapper.xml"/>
        <mapper resource="mapper/jjh/entrustLikeMapper.xml"/>
        <mapper resource="mapper/jjh/missMapper.xml"/>
        <mapper resource="mapper/jjh/missCommentMapper.xml"/>
        <mapper resource="mapper/jjh/missLikeMapper.xml"/>

        <mapper resource="mapper/psw/InfoMapper.xml"/>
        <mapper resource="mapper/psw/CommentMapper.xml"/>
        <mapper resource="mapper/psw/Info_LikeMapper.xml"/>
        <mapper resource="mapper/psw/NotifyMapper.xml"/>

        <mapper resource="mapper/yjw/flagMapper.xml"/>
        <mapper resource="mapper/yjw/flagCommentMapper.xml"/>
        <mapper resource="mapper/yjw/flagLikeMapper.xml"/>
        <mapper resource="mapper/yjw/TrustScoreMapper.xml"/>
        <mapper resource="mapper/yjw/reportMapper.xml"/>
        <mapper resource="mapper/yjw/studentCertMapper.xml"/>
        <mapper resource="mapper/yjw/memberAuthorityMapper.xml"/>


        <mapper resource="mapper/lcw/ChatRoomMapper.xml"/>
        <mapper resource="mapper/lcw/MemberMapper.xml"/>
        <mapper resource="mapper/lcw/MessageMapper.xml"/>

    </mappers>
</configuration>