<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <!-- 별명 짓는 설정자 -->
        <typeAlias type="com.spring.ion.jjh.dto.entrust.EntrustDTO" alias="entrust"></typeAlias>
        <typeAlias type="com.spring.ion.jjh.dto.entrust.EntrustCommentDTO" alias="entrustComment"></typeAlias>
        <typeAlias type="com.spring.ion.jjh.dto.free.FreeDTO" alias="free"></typeAlias>
        <typeAlias type="com.spring.ion.jjh.dto.free.FreeCommentDTO" alias="freeComment"></typeAlias>
        <typeAlias type="com.spring.ion.jjh.dto.miss.MissDTO" alias="miss"></typeAlias>
        <typeAlias type="com.spring.ion.jjh.dto.miss.MissCommentDTO" alias="missComment"></typeAlias>


    </typeAliases>
</configuration>