<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Flag">


    <insert id="write" parameterType="FlagPost"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO flag_post (title, nickname, content)
        VALUES (#{title}, #{nickname}, #{content})
    </insert>


    <select id="findAll" resultType="FlagPost">
        SELECT * FROM flag_post ORDER BY id DESC
    </select>

    <select id="findById" parameterType="int" resultType="FlagPost">
        SELECT * FROM flag_post WHERE id=#{id}
    </select>

    <update id="update" parameterType="FlagPost">
        UPDATE flag_post SET title = #{title}, content = #{content}
        WHERE id = #{id}
    </update>

    <select id="delete" parameterType="int">
        DELETE FROM flag_post WHERE id = #{id}
    </select>

    <select id="pagingList" parameterType="java.util.HashMap" resultType="FlagPost">
        SELECT * FROM flag_post ORDER BY id DESC LIMIT #{start}, #{limit}
    </select>

    <select id="flagCount" resultType="int">
        SELECT COUNT(id) FROM flag_post
    </select>

    <select id="search" parameterType="string" resultType="com.spring.ion.yjw.dto.FlagPostDTO">
        SELECT * FROM flag_post
        WHERE title LIKE CONCAT('%', #{keyword}, '%')
        OR content LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY id DESC
    </select>

    <update id="increaseViewCount" parameterType="int">
        UPDATE flag_post
        SET view_count = view_count + 1
        WHERE id = #{id}
    </update>

    <select id="hasLiked" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM flag_like
        WHERE post_id = #{postId} AND member_id = #{memberId}
    </select>

    <insert id="insertLike">
        INSERT INTO flag_like (post_id, member_id)
        VALUES (#{postId}, #{memberId})
    </insert>

    <update id="increaseLikeCount">
        UPDATE flag_post
        SET like_count = like_count + 1
        WHERE id = #{postId}
    </update>

    <insert id="saveFile" parameterType="com.spring.ion.yjw.dto.FlagFileDTO">
        INSERT INTO flag_file (board_id, originalFileName, storedFileName)
        VALUES (#{board_id}, #{originalFileName}, #{storedFileName})
    </insert>

    <select id="findFilesByBoardId" resultType="com.spring.ion.yjw.dto.FlagFileDTO">
        SELECT * FROM flag_file WHERE board_id = #{board_id}
    </select>









</mapper>
