<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Free">
    <select id="allFreeList" resultType="free">
        SELECT * FROM free_post ORDER BY id DESC
    </select>

    <insert id="write" parameterType="free" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO free_post (title, nickname, content)
        VALUES (#{title}, #{nickname}, #{content})
    </insert>

    <select id="findById" parameterType="long" resultType="free">
        SELECT * FROM free_post WHERE id = #{id}
    </select>

    <select id="search" parameterType="string" resultType="free">
        SELECT * FROM free_post
        WHERE title LIKE CONCAT('%', #{searchContent}, '%')
        OR content LIKE CONCAT('%', #{searchContent}, '%')
        ORDER BY id DESC
    </select>

    <delete id="delete" parameterType="long">
        DELETE FROM free_post WHERE id = #{id}
    </delete>

    <update id="update" parameterType="free">
        UPDATE free_post SET title = #{title}, content = #{content} WHERE id = #{id}
    </update>

    <select id="pagingList" parameterType="java.util.HashMap" resultType="free">
        SELECT * FROM free_post ORDER BY id DESC LIMIT #{start}, #{limit}
    </select>

    <select id="boardCount" resultType="int">
        SELECT COUNT(id) FROM free_post
    </select>

    <update id="updateViewCount" keyProperty="int">
        UPDATE free_post SET view_count = view_count + 1
        WHERE id = #{id}
    </update>

    <insert id="saveFile" parameterType="freeFile">
        INSERT INTO free_file (board_id, originalFileName, storedFileName)
        VALUES (#{board_id}, #{originalFileName}, #{storedFileName})
    </insert>

    <select id="findFileById" parameterType="long" resultType="freeFile">
        SELECT * FROM free_file WHERE board_id = #{id}
    </select>

    <delete id="deleteFileById" parameterType="long">
        DELETE FROM free_file WHERE board_id = #{id}
    </delete>

    <!-- 좋아요 수 증가 -->
    <update id="increaseLikeCount" parameterType="long">
        UPDATE free_post SET like_count = like_count + 1 WHERE id = #{postId}
    </update>

    <!-- 좋아요 수 감소 -->
    <update id="decreaseLikeCount" parameterType="long">
        UPDATE free_post SET like_count = like_count - 1 WHERE id = #{postId} AND like_count > 0
    </update>

</mapper>