<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Free">
<!--    <select id="allFreeList" resultType="free">-->
<!--        SELECT * FROM free ORDER BY id DESC-->
<!--    </select>-->
    <insert id="write" parameterType="free">
        INSERT INTO free_post (title, nickname, content)
        VALUES (#{title}, #{nickname}, #{content});
    </insert>
</mapper>