<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FreeComment">
    <insert id="save" parameterType="freeComment">
        INSERT INTO free_comment (nickname, content, post_id, userId)
        VALUES (#{nickname}, #{content}, #{post_id}, #{userId});
    </insert>

    <select id="findAll" resultType="freeComment">
        SELECT * FROM free_comment WHERE post_id = #{post_id} ORDER BY id DESC
    </select>

    <select id="findById" parameterType="long" resultType="freeComment">
        SELECT * FROM free_comment WHERE id = #{id}
    </select>

    <delete id="delete" parameterType="long">
        DELETE FROM free_comment WHERE id = #{id}
    </delete>

    <select id="findAllByUserId" parameterType="string" resultType="freeComment">
        SELECT * FROM free_comment
        WHERE userId = #{userId}
        ORDER BY created_at DESC
    </select>

</mapper>