<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MissLike">

    <select id="exists" resultType="int">
        SELECT COUNT(*) FROM miss_like WHERE post_id = #{postId} AND member_id = #{memberId}
    </select>

    <insert id="insert">
        INSERT INTO miss_like (post_id, member_id) VALUES (#{postId}, #{memberId})
    </insert>

    <delete id="delete">
        DELETE FROM miss_like WHERE post_id = #{postId} AND member_id = #{memberId}
    </delete>

    <select id="count" resultType="int">
        SELECT COUNT(*) FROM miss_like WHERE post_id = #{postId}
    </select>
</mapper>

