<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="InfoLikeMapper">

    <!-- 좋아요 유무 체크 -->
    <select id="exists" resultType="int">
        SELECT COUNT(*) FROM info_like WHERE post_id = #{findId} AND member_id = #{memberId}
    </select>

    <!-- 좋아요 추가 -->
    <insert id="insert">
        INSERT INTO info_like (post_id, member_id) VALUES (#{findId}, #{memberId})
    </insert>

    <!-- 좋아요 취소 -->
    <delete id="delete">
        DELETE FROM info_like WHERE post_id = #{findId} AND member_id = #{memberId}
    </delete>

    <!-- 좋아요 개수 카운트 -->
    <select id="count" resultType="int">
        SELECT COUNT(*) FROM info_like WHERE post_id = #{findId}
    </select>

    <update id="infoUpdateLikeCount" parameterType="long">
        UPDATE info_content
        SET like_count = (SELECT COUNT(*) FROM info_like WHERE post_id = #{findId})
        WHERE id = #{postId}
    </update>
</mapper>

