<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Info">
    <select id="allInfoList" resultType="infoContent">
        SELECT * FROM info_content ORDER BY id DESC
    </select>

    <insert id="save"  parameterType="infoContent" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO info_content (title, content)
        VALUES (#{title}, #{content})
    </insert>

    <select id="find" parameterType="infoContent" resultType="infoContent">
        SELECT * FROM info_content WHERE id = #{id}
    </select>

    <update id="update" parameterType="infoContent">
        UPDATE info_content
        SET title = #{title}, content = #{content}
        WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="long">
        DELETE FROM info_content WHERE id = #{id}
    </delete>

    <update id="updateHits" keyProperty="long">
        UPDATE info_content SET view_count = view_count + 1
        WHERE id = #{id}
    </update>

    <update id="updateLike" keyProperty="long">
        UPDATE info_content
        SET like_count = like_count + 1
        WHERE id = #{id}
    </update>
    <select id="infoPagingList" parameterType="java.util.HashMap" resultType="infoContent">
        SELECT * FROM info_content ORDER BY id DESC LIMIT #{start}, #{limit}
    </select>

    <select id="infoCount" resultType="int">
        SELECT COUNT(id) FROM info_content
    </select>

    <insert id="infoSaveFile"  parameterType="infoFile" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO info_file (board_id, originalFileName, storedFileName)
        VALUES (#{board_id}, #{originalFileName}, #{storedFileName})
    </insert>

    <select id="findInfoFile" parameterType="long" resultType="infoFile">
        SELECT * FROM info_file WHERE board_id = #{boardId}
    </select>

    <update id="infoUpdateFile" parameterType="infoFile">
        UPDATE info_file
        SET originalFileName = #{originalFileName},
        storedFileName = #{storedFileName}
        WHERE board_id = #{board_id}
    </update>

</mapper>