<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Notify">
     <insert id="saveNotify" parameterType="notify" useGeneratedKeys="true" keyProperty="id">
            INSERT INTO notification (
            nickname, type, content, created_at,
            related_post_id, related_comment_id, related_region, related_board
            ) VALUES (
            #{nickname}, #{type}, #{content}, #{created_at},
            #{related_post_id}, #{related_comment_id}, #{related_region}, #{related_board}
            )
     </insert>

    <select id="findAllByNotify" parameterType="string" resultType="notify">
        SELECT *
        FROM notification
        WHERE nickname = #{nickname};
    </select>

    <delete id="deleteById" parameterType="long">
        DELETE FROM notification WHERE id = #{id}
    </delete>

    <select id="countDangerAlertByRegion" resultType="int">
        SELECT COUNT(*) FROM notification
        WHERE related_region LIKE CONCAT(#{region}, '%')
        AND type = 'DANGER_ALERT'
        AND is_read = false
    </select>

</mapper>